<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heores</title>
</head>
<body>
    <header>
        <img width="100" src="/img/logo.png" alt="logo batman">
        <ul>
            <li>Heroes</li>
            <li>Contacto</li>
            <li>Series</li>
        </ul>
    </header>
    <main>
        <section>
            <article>
                <h3>Serie 1</h3>
                <img src="" alt="imagen de la serie">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo distinctio porro dolorum aliquid doloribus impedit quod qui, rerum iste cumque voluptatum! Veritatis ipsam tenetur libero, maxime doloribus dolorem sequi veniam.</p>
            </article>
            <article>
                <h3>Serie 2</h3>
                <img src="" alt="imagen de la serie">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo distinctio porro dolorum aliquid doloribus impedit quod qui, rerum iste cumque voluptatum! Veritatis ipsam tenetur libero, maxime doloribus dolorem sequi veniam.</p>
            </article>
        </section>
    </main>
    <footer>
        <img src="" alt="footer">
        <ul>
            <li>Link 1</li>
            <li>Link 2</li>
        </ul>
    </footer>
</body>
</html>